// Layout variables
$image-height: 120px;

// Colors
$dark-grey: rgb(51, 51, 51);
$dark-grey-2: rgb(76.5, 76.5, 76.5);
$dark-grey-3: rgb(204, 204, 204);
$sprout-green-dark: #64AF17;

#profile-page {
  width: 100vw;
  max-width: 600px;
  margin: 84px auto 0;

  #profile-container {
    display: flex;
    margin: 32px 0;

    #profile-picture {
      width: 30%;
      max-width: $image-height;
      max-height: $image-height;
      border: 2px $dark-grey-2 solid;
      border-radius: 50%;
    }

    #profile-info {
      display: flex;
      flex-direction: column;
      margin-left: 16px;

      #name {
        font-size: 1.5rem;
        color: $dark-grey;
      }

      &>* {
        margin: 8px 0;
        color: $dark-grey-2;
      }
    }
  }

  #past-activities-container {
    .past-activity {
      display: flex;
      align-items: center;
      margin: 16px auto;
      padding: 8px 0;
      border: 1px $dark-grey-3 solid;
      border-radius: 8px;

      .activity-block {
        width: 24px;
        height: 24px;
        margin: 0 16px;
        background-color: $dark-grey-2;
        border-radius: 8px;
      }

      .activity-info {
        &>* {
          margin: 4px auto;
        }

        .activity-date {
          color: $dark-grey;
          font-weight: 700;
        }

        .activity-name {
          color: $dark-grey-2;
        }

        .activity-reflection {
          display: none;
        }
      }
    }
  }
}