.tree-page {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  width: 100vw;
  margin: auto;

  .card {
    display: flex;
    flex-direction: column;
    height: 40vh;
    width: 17vw;
    min-height: 300px;
    min-width: 220px;
    border-radius: 3px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    transform-style: preserve-3d;

    .tenet-img {
      margin: auto;
      height: 40%;
    }

    .tenet {
      color: rgba(0, 0, 0, 0.8);
      text-align: center;
      font-weight: 500;
      font-size: 20px;
      line-height: 120%;
      letter-spacing: 0.02em;
      transform: translateZ(20px);
    }
  }
}