#room-page {
  margin: 5% 10%;

  // Specific activity container styles for each tenet.
  #compassion {
    background-color: rgba(191, 137, 245, 0.4);
  }

  #gratitude {
    background-color: rgba(255, 190, 92, 0.4);
  }

  #kindness {
    background-color: rgba(255, 241, 77, 0.4);
  }

  #mindfulness {
    background-color: rgba(53, 88, 230, 0.4);
  }

  #resilience {
    background-color: rgba(209, 55, 38, 0.4);
  }

  .activity-container {
    display: flex;
    flex-direction: row;
    min-width: 600px;
    border-radius: 30px;
    animation: all 0.2s ease-out;
    padding: 16px 16px 32px 32px;
    margin-bottom: 10vh;

    .title {
      font-family: Quattrocento;
      font-weight: 600;
      text-align: left;
      letter-spacing: 0.02em;
    }

    b {
      margin-bottom: 0;
    }

    .room-link-row {
      display: flex;
      flex-direction: row;
      justify-content: left;
      align-items: center;

      svg {
        margin: 0 8px;

        &:hover {
          color: rgba(0, 0, 0, 0.7);
        }

        &:active {
          color: rgba(0, 0, 0, 0.5);
        }
      }

      p {
        margin: 0;
      }
    }

    .begin-button {
      margin-top: 24px;
      padding: 8px 16px;
      background-color: rgba(0, 0, 0, 1);
      color: white;
      font-size: 16px;
      border: none;
      border-radius: 4px;

      &:hover {
        background-color: rgba(0, 0, 0, 0.8);
      }

      &:active {
        background-color: rgba(0, 0, 0, 0.6);
      }

      &:focus {
        outline: none;
      }
    }

    .participants-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-left: auto;

      .participant-card {
        display: flex;
        flex-direction: column;
        background-color: rgba(255, 255, 255, 1);
        height: 42px;
        max-width: 100px;
        margin: 8px 4px;
        padding: 8px;
        border-radius: 8px;
        text-align: center;

        .participant-name {
          margin: 4px 0;
          padding: 0;
          font-size: 14px;
          white-space: nowrap;
          text-overflow: ellipsis;
          display: block;
          overflow: hidden;
        }
      }
    }

    .copy-tooltip {
      background-color: rgba(0, 0, 0, 0.5);
      color: white;
      margin-left: 4px;
      padding: 4px 8px;
      font-size: 12px;
      border-radius: 4px;
      opacity: 1;
      transition: all 0.2s ease-out;

      &.hidden {
        opacity: 0;
      }
    }
  }

  .error {
    color: rgba(230, 40, 50, 1);
  }

  .activity-details {
    line-height: 2rem;
    font-size: 20px;
  }
}

#in-session-page {
  display: flex;
  flex-direction: column;
  width: 80vw;
  height: 80vh;
  margin: auto;
  padding: 64px;

  .activity-title {
    text-align: center;
    font-family: Quattrocento;
  }

  .activity-instructions {
    margin: auto 64px;
    line-height: 1.5;
    font-size: 1.8rem;
    font-weight: 400;
    font-family: Quattrocento;
    text-align: justify;
  }

  #progress-bar-container {
    background-color: rgba(0, 0, 0, 0);
    margin-top: auto;
    padding: 4px;
    height: 3vh;
    width: 100%;
    border: 1px solid black;
    border-radius: 30px;

    #progress-bar {
      position: relative;
      z-index: -2;
      background-color: rgba(33, 133, 89, 0.8);
      height: 100%;
      transition: all 3s ease;
      border-radius: 30px;
    }
  }
}

#reflection-page {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  margin: auto;
  padding: 32px 80px;

  .title {
    margin-bottom: 10vh;
    text-align: center;
    font-family: Quattrocento;
  }

  textarea {
    padding: 16px;
    height: 20vh;
    font-size: 16px;
    border-radius: 8px;
  }

  button {
    margin-top: 24px;
    padding: 8px 16px;
    width: 200px;
    background-color: rgba(0, 0, 0, 1);
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 4px;

    &:hover {
      background-color: rgba(0, 0, 0, 0.8);
    }

    &:active {
      background-color: rgba(0, 0, 0, 0.6);
    }

    &:focus {
      outline: none;
    }
  }
}