#navbar {
  position: fixed;
  top: 0;
  height: 48px;
  width: 100%;
  background-color: white;
  border-bottom: rgba(0, 0, 0, 0.05) solid 2px;

  ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0 4%;
    justify-content: flex-end;

    li {
      line-height: 48px;
      color: black;
      font-weight: 600;
      font-size: 1.1em;
      text-align: center;

      &#home {
        margin: 0.65% auto 16px 0;
      }

      img {
        display: block;
        max-width: 45px;
        max-height: 30px;
        width: auto;
        height: auto;
        margin: auto 0;
      }

      &#welcome {
        font-size: 0.8em;
      }
    }
  }
}