#navbar {
  position: fixed;
  top: 0;
  height: 48px;
  width: 100%;
  background-color: white;
  border-bottom: rgba(0, 0, 0, 0.05) solid 2px;

  ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0 6%;
    justify-content: flex-end;

    li {
      &#home {
        margin: 9px auto 16px 0;
        transition: all 0.2s;

        &:hover {
          transform: scale(1.08);
        }
      }

      &.text {
        margin: 14px 32px 0;
        color: rgba(0, 0, 0, 0.7);
        font-weight: 600;
        font-size: 1em;
        transition: all 200ms ease-out;

        &.link:hover {
          color: rgba(0, 0, 0, 1);
          cursor: pointer;
        }
      }

      #profile-picture {
        border: rgba(0, 0, 0, 0.1) 2px solid;
        border-radius: 50%;
        margin-top: 8px;
        transition: all 0.2s;

        &:hover {
          border-color: rgba(100, 175, 33, 0.99);
        }
      }

      img {
        display: block;
        max-width: 45px;
        max-height: 30px;
        width: auto;
        height: auto;
        margin: auto 0;
      }
    }
  }
}