#reflection-form {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  margin: auto;
  padding: 32px 80px;

  textarea {
    padding: 16px;
    height: 20vh;
    font-size: 16px;
    border-radius: 8px;
  }

  button {
    margin-top: 24px;
    padding: 8px 16px;
    width: 200px;
    background-color: rgba(0, 0, 0, 1);
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 4px;

    &:hover {
      background-color: rgba(0, 0, 0, 0.8);
    }

    &:active {
      background-color: rgba(0, 0, 0, 0.6);
    }

    &:focus {
      outline: none;
    }
  }
}

#reflection-page {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  margin: auto;
  padding: 32px 80px;

  .title {
    font-family: Quattrocento;
    text-align: center;
    margin-bottom: 6vh;
  }

  .reflections-container {
    margin: 32px 0;

    .reflection {
      background-color: rgba(0, 0, 0, 0.05);
      margin-bottom: 32px;
      border-radius: 8px;
      padding: 16px;
      width: 80%;
    }

    .reflection:nth-child(even) {
      margin-left: auto;
    }

    .reflection:nth-child(odd) {
      margin-right: auto;
    }
  }

  a {
    width: 180px;

    button {
      width: 100%;
      padding: 8px 16px;
      background-color: rgba(0, 0, 0, 1);
      color: white;
      font-size: 16px;
      border: none;
      border-radius: 4px;

      &:hover {
        background-color: rgba(0, 0, 0, 0.8);
        cursor: pointer;
      }

      &:active {
        background-color: rgba(0, 0, 0, 0.6);
      }

      &:focus {
        outline: none;
      }
    }
  }

}