@import url('https://fonts.googleapis.com/css2?family=Quattrocento:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

body {
  height: 100%;
  width: 100%;
  font-family: "system-ui", Avenir, Roboto, Helvetica Neue, sans-serif;
  background-image: url(./images/green-tree-1.jpeg);

}

.title {
  font-family: Quattrocento;
  font-weight: 600;
  text-align: center;
  letter-spacing: 0.02em;
  // margin: 15vh 0 10vh;
  // color: rgba(251, 247, 245, 1);;
}

.titlePadding {
  margin: 15vh 0 10vh;
  color: blue;
}

#title-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  margin: auto 4vw;

  .card {
    display: flex;
    flex-direction: column;
    margin: 16px 4px;
    padding: 8px;
    height: 40vh;
    width: 15vw;
    min-height: 250px;
    min-width: 170px;
    font-family: Quattrocento;
    border: 4px solid rgba(0, 0, 0, 0);
    border-radius: 24px;
    transform-style: preserve-3d;
    transition: all 0.2s ease-out;
    background-color: rgba(246, 248, 246, 1);

    &:hover {
      box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
      border: 4px solid #cccccc;
    }

    .card-img {
      margin: auto;
      height: 40%;
    }

    .card-title {
      height: 15%;
      color: rgba(0, 0, 0, 0.8);
      text-align: center;
      font-weight: 500;
      font-size: 20px;
      line-height: 120%;
      letter-spacing: 0.02em;
      transform: translateZ(20px);
      color: rgba(0, 0, 0, 0.8);
    }

    .card-subtitle {
      font-family: Nunito, "system-ui", Avenir, Roboto, Helvetica Neue, sans-serif;
      font-size: 14px;
      text-align: center;
      color: rgba(0, 0, 0, 0.8);

    }

    .card-content {
      font-family: Nunito, "system-ui", Avenir, Roboto, Helvetica Neue, sans-serif;
      text-align: justify;
      margin: 0 16px auto;
      color: rgba(0, 0, 0, 1);
    }
  }
}