#activity-page {
  .title {
    font-family: Quattrocento;
    font-weight: 600;
    text-align: center;
    letter-spacing: 0.02em;
    margin: 15vh 0 10vh;
  }

  .card-container.tight {
    margin: auto 10vw;
  }

  .card.large {
    width: 22vw;
    margin: auto 0;
  }
}